button {
    margin: 5px;
}

h4 {
    margin: auto;
}

.divVis {
    text-align: center;
}

.divText {
    width: 95%;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
}

[dir="rtl"] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
}
