mat-card {
    max-width: 30%;
    width: 30%;
    margin: 5px;
}

.handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}

plotly-plot {
    width: 100%;
}

mat-card-title {
    padding-left: 10px;
}

mat-card-subtitle {
    padding-left: 10px;
}

button {
    padding: 0px;
}

.example-form {
    margin-left: 10px;
}

