<mat-card cdkDragBoundary=".boundary" cdkDrag>
    <mat-card-header>
        <div mat-card-avatar>
            <button mat-button (click)="onRemove()">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
        <mat-card-title>Sankey Diagram</mat-card-title>
        <mat-card-subtitle
            >Relation between resource sharing and citizen interaction</mat-card-subtitle
        >
    </mat-card-header>
    <mat-card-content *ngIf="selectedToVisualize">
        <plotly-plot
            [data]="graph.data"
            [layout]="graph.layout"
            [config]="{ displayModeBar: false }"
        ></plotly-plot>
    </mat-card-content>
    <mat-card-actions>
        <mat-form-field class="example-form">
            <mat-label>Select to visualize</mat-label>
            <mat-select [(value)]="selectedModel">
                <mat-option
                    *ngFor="let toVisualize of getToVisualize()"
                    [value]="toVisualize"
                >
                    {{ toVisualize | listToVisualize }}</mat-option
                >
            </mat-select>
        </mat-form-field>
        <button
            mat-button
            color="primary"
            (click)="askForData_and_visualize()"
            [disabled]="!selectedModel"
        >
            VISUALIZE
        </button>
    </mat-card-actions>
    <div class="handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
    </div>
</mat-card>
